*,
::after,
::before {
  box-sizing: border-box;
}

body {
  height: calc(100vh - 16px);
}

.hidden {
  display: none;
} 

.list {
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 100%;
  /* max-height: 100%; */
  padding: 40px 40px 60px;
  border: 1px solid #dcdcdc;

}

.list-title {
  padding-bottom: 20px;
  margin: 0;
}

.list-items {
  display: flex;
  flex-direction: column;
  padding: 0;
  overflow-y: auto;
  border-top: 1px solid #dcdcdc;
  border-bottom: 1px solid #dcdcdc;
}

.list-item {
  display: flex;
  justify-content: space-between;
  gap: 2.5%;
  border: 1px solid #dcdcdc;
  padding: 10px 2px;

}

.list-item__name {
  width: 30%;
}

.list-item__message {
  width: 40%;
}